.entry-top {
    display: flex;
    justify-content: flex-end;
}

.exit-icon {
    margin: 15px;
    padding: 10px;
}

.minimise-icon {
    margin: 15px 0;
    padding: 10px;
}

.exit-icon:hover, .minimise-icon:hover {
    background-color: #E8E9EB;
}