.step-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.step-field {
    font-family: Helvetica, sans-serif;
    color: grey;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #E8E9EB;
    width: 90%;
    height: 5vh;
}

.step-field textarea {
    field-sizing: content;
}

.step-field:focus {
    outline: none;
}